body {
   background-image: url('../tlo.png'); /* from http://subtlepatterns.com */
}

div.main {
    width: 70%;
    min-height: 100%;
    
    background: radial-gradient(circle, #BC4B8D 15%, #6F2D68 100%); 
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    box-shadow: 4px 10px 15px;
    padding-top: 1%;
    padding-bottom: 6%;
    padding-left: 11%;
    padding-right: 11%;
    opacity: 0.8;
}
div.topMain {
    height: 50%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
div.login {
    width: 70%;
    height: 35%;
    background-color: #883B96;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    opacity: 0.7;
    
}
td.login {
    vertical-align: middle;
    font-size: 18px;
    color: white;
}
div.title {
    width: 100%;
    background-color: #96263F;
    height: 35px;
    border-radius: 25px 25px 0px 0px;
   
    text-align: center;
    color: #ACE70C;
    font-size: 20px;
    font-weight: bold;
}
td.center {
    text-align: center;
}
div.center {
    width: 150px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
div.bottomMain {
    width: 100%;
    height: 30%;
    background-color: #96263F;
    border-radius: 25px;
    
    
    padding: 11px;
}
div.question {
    width: 100%;
    height: 100%;
    
    margin-left: auto;
    margin-right: auto;
    background-color: #5A175E;
    
    
    
}
td.replyBackground {
    background-color: black;
}
div.menu {
    width: 100%;
    height: 35px;
    background-color: #5A175E;
    text-align: center;
    padding-top: 5px;
    border-radius: 20px;
}

table.priceQuestion {
    width: 100%;
    font-size: 11px;
    color: white;
    padding: 0px;
}

td.right {
    text-align: right;
}
div.link {
    padding-left: 6px;
    float: left;
    
}
a.link {
    color: #D08104;
}
a.link:hover {
    color: yellow;
}

td.login2 {
    color: yellow;
    font-size: 20px;
    font-weight: bold;
}
div.divReply {
    width: 97%;
    height: 100%;
    float:right;
   
}
div.ABCD {
    float: left;
    height: 100%;
    width: 3%;
    font-size: 25px;
    padding-top: 20px;
  
}
a.linkReply {
    color: yellow;
}
div.questionQuestion {
    color: yellow;
}
div.questionQuestion {
    width: 100%;
    height: 43%;
    
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #F0A02C;
    border-left: 1px solid #F0A02C;
    border-right: 1px solid #F0A02C;
  background:#5A175E;
    
}
td.questionQuestionA {
    width: 50%;
   height: 50%;
   color: yellow;
   
 background: #5A175E;
    
    border: 1px solid #F0A02C;
}
table.question {
    width: 100%;
    height: 45%;
}
div.questionQuestionB {
   width: 50%;
    height: 25%;
    float: right;
   
    border: 2px solid #F0A02C;
}
div.questionQuestionC {
  width: 50%;
    height: 25%;
   float: left;
    
    border: 2px solid #F0A02C;
}
div.questionQuestionD {
  width: 50%;
    height: 25%;
    float: right;
   clear: both;
    border: 2px solid #F0A02C;
}

div.questionQuestion2 {
        width: 100%;
    height: 120%;
    
    margin-left: auto;
    margin-right: auto;
}
div.questionQuestionAB {
    width: 90%;
    clear: both;
    
}
div.questionQuestionCD {
    width: 90%;
    clear: both;
    
}
div.addquestion {
    width: 100%;
    background-color: #5A175E;
    border-radius: 25px;
}
textarea.question {
    height: 40px;
}
div.succes {
    text-align: center;
    height: 25px;
    width: 70%;
    background-color: #3CD917;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    color: #B78822;
}
div.error {
    text-align: center;
    width: 70%;
    background-color: red;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    color: #99CF0C;
}
#lifebuoys {
    visibility: hidden;
    width: 85%;
    
    margin-left: auto;
    margin-right: auto;
    
}
div.lifebuoys {
    float: left;
    width: 31%;
    height: 50px;
    margin: 2px;
     line-height: 50px;
    text-align: center;
    background-color: yellow;
    border-radius: 20px;
    color: #000080;
}
div.lifebuoys:hover {
    float: left;
    width: 31%;
    height: 50px;
    margin: 2px;
     line-height: 50px;
    text-align: center;
    background-color: yellow;
    border-radius: 20px;
    color: #B9DA79;
}
div.lifebuoys_1 {
    float: left;
    width: 31%;
    height: 50px;
    margin: 2px;
     line-height: 50px;
    text-align: center;
    background-color: silver;
    border-radius: 20px;
    color: #000080;
}
div.leftMenu {
    width: 14%;
    height: 100%;
    background: rgb(152,17,194);
    background: linear-gradient(90deg, rgba(152,17,194,1) 86%, rgba(41,8,42,1) 100%);
    float: left;
}